body{
  background-color: #e5e5e5;
  }
  
  .form{
    /* border: white; */
    border-radius: 15px;
    margin-top: 5%;
    width: 70%;
    height: 100%;
    background: #fca311;
    padding-left: 4%;
    padding-right: 5%;
    margin-left: 20%;
  }
  
  .form-body{
    text-align: left;
    padding: 20px 10px ;
  }
  
  .form-body > *{
    padding: 5px;
  }
  
  .form__label{
    width: 40%;
  }
  
  .form_input{
    width: 60%;
  

  }
  
  .footer{
    /* text-align: center; */
  }
  h6{
    font-size: smaller;
  }
  .btn{
    background-color: #14213d;
    color:white
  }