@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1{
      @apply text-3xl md:text-5xl
  }
  h2{
      @apply text-3xl
  }
  h3{
      @apply text-xl
  }
  p{
      @apply text-lg
  }
  li {
      @apply p-4
  }
  button {
      @apply text-white border bg-yellow-700 border-yellow-700 text-sm
      hover:bg-zinc-300 hover:text-yellow-700 rounded-md 
  }
  .signinBtn {
      @apply  text-white border border-white
      hover:bg-yellow-700 hover:text-white rounded-md 
  }
  * {
      /* @apply font-sans md:font-display */
      @apply font-sans
  }
  .landing-title {
      @apply font-sans text-5xl
  }
}

#home {
  background: url("./assets/bgImg.png");
<<<<<<< main
/*background-repeat: no-repeat;*/
}

/**************/
.new-art-form {
  color: rgb(41, 41, 41);
  padding: 2rem 1rem;
  margin: 8rem 0 2rem 0;
  background-color: rgba(249, 255, 161, 0.5);
}

.new-art-form form {
=======
  /* background-repeat: no-repeat; */
}
.cardlist{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:50%;
  margin-top: 3%;
  background-color: white;
  text-align: center;
  padding-top: 2%;
  /* margin-left: 20%; */
}
.cardlist img{
  height: 500px;
  padding-left: 20%;
}
.btn{
  background-color: #14213d;
  margin:2%
}
.cards3{
  width:80%;
  height: 100%;
  /* border: solid black; */
>>>>>>> main
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-left: 10%;
  padding: 5%;
}
.container{
  border: solid black;
  padding-top: 5%;
  width: 50%;
  background-color:#e5e5e5 ;
}
/* signup form */
.form{
  justify-content: center;
  background-color: #e5e5e5;
  border-radius: 5px;
  width: 1000px;
  /* margin: 20px auto; */
  padding: 20px;
  height: 600px;
  margin-left: 20%;
}

.form-body{
  /* border: solid black; */
  margin-top: 10%;
  text-align: left;
  padding: 20px 10px;
}

.form-body > *{
  padding: 5px;
}

.form__label{
  width: 40%;
  font-weight: bold;
}

.form_input{
  width: 60%;
}

.footer{
  text-align: center;
}


.form-body{
  text-align: left;
  padding: 20px 10px;
}
.link{
  font-size: 30px;
  color: #14213d;
}
h6{
  font-style: italic;
}






